:root {
    --color-Black: #000;
    --color-White: #fff;
    --color-White100: #ffffff6a;
    --color-Green100: #1adb0026;
    --color-Green400: rgba(26, 219, 0, 0.7);
    --color-Red400: rgba(219, 0, 0, 0.904);
    --color-Red100: rgba(219, 0, 0, 0.142);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    padding: 10px 0px;
    overflow: hidden;
    background-color: var(--color-Green100);
    width: 100%;
    box-sizing: border-box;
}

header {
    height: 10%;
    border-bottom: 1px solid var(--color-White100);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.toggle-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
}

.header-right ul {
    list-style: none;
}

.header-right li {
    cursor: pointer;
}

.header-right img {
    width: 5rem;
    height: 5rem;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.sidebar {
    position: fixed;
    top: 11%;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--color-White100);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 2px 0 12px var(--color-Green100);
    padding: 50px 24px;
}

.sidebar.active {
    transform: translateX(0);
}

.main-wrapper {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    height: 90%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.sidebar-open .main-wrapper {
    margin-left: 300px;
}

.story-form {
    background-color: var(--color-White);
    color: var(--color-Black);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 30px;
    width: 60%;
    height: 70%;
}

.story-form form {
    gap: 20px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    display: flex;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.form-group label {
    font-size: 1rem;
    font-weight: 400;
}

input,
textarea {
    border: 1px solid var(--color-Green400);
    border-radius: 6px;
    padding: 10px;
    outline: none;
    width: 100%;
}

input:focus {
    border: 2px solid var(--color-Green400);
}

.form-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add-button {
    border: 1px solid var(--color-Green400);
    border-radius: 20px;
    background-color: var(--color-Green100);
    padding: 8px 22px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    width: 8rem;
}

.cancel-button {
    border: 1px solid var(--color-Red400);
    border-radius: 20px;
    background-color: var(--color-Red100);
    padding: 8px 22px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    width: 8rem;
}

.add-button:hover {
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(26, 219, 0, 0.5);
}

.cancel-button:hover {
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(219, 0, 0, 0.5);
}

.error,
.error:focus {
    border-color: var(--color-Red400);
}

.form-group .error-message {
    display: block;
    color: var(--color-Red400);
    font-size: 0.9em;
    margin-top: 5px;
}
